* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

/*general*/
body{
  color: rgb(42, 45, 44);
}

.container {
  margin: 0 auto;
  width: 1270px;
}

.vertical {
  display: flex;
  justify-content: space-between;
}

/*header - menu*/

header .row-first {
  background-color: black;
  width: 100%;
  height: 50px;
}

.logo {
  float: left;
  line-height: 50px;
  font-weight: bold;
}

.logo span {
  color: #30C4AE;
}

header .row-first nav {
  float: right;
  line-height: 50px;
}

header .row-first nav ul li {
  color: white;
  text-transform: uppercase;
  display: inline;
  font-weight: bold;
  padding: 27px;
  font-size: 18px;
}

header .row-first nav ul li:last-child {
  padding-right: 0;
}

header .row-first .logo p {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

header::after {
  content: "";
  display: block;
  clear: both;
}
header .row-first nav ul.opened-nav-firm {
  position: absolute;
  color: white;
  background-color: black;
  padding: 15px;
  top: 65px;
  right: 375px;
  border-radius: 5px;
}
header .row-first nav ul.opened-nav-firm li {
  font-weight: 400;
  display: block;
  list-style-type: none;
  font-size: 18px;
  line-height: 20px;
  padding: 5px;
}
.arrow-opened-nav-firm {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
  position: absolute;
  top: -13px;
  left: 55px;
}

/*header content*/

.row-second {
  width: 100%;
  height: 600px;
  float: left;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(191, 191, 191, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfbfbf', GradientType=0);
}

.header-content-left li{
  list-style-type: none;
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: 80px;
  float: left;
  display: none;
}
.header-content-left li.visible{
  display: inline-block;
}
.header-content-left li.black-chair {
  background-image: url(../images/black_chair.png);
}
.header-content-left li.red-chair {
  background-image: url(../images/red_chair.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header-content-right {
  float: left;
  width: 570px;
  text-align: center;
  height: 400px;
  margin-top: 158px;
}

.header-content-right h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.header-content-right h1 span {
  color: #30C4AE;
}

.header-content-right p {
  font-size: 16px;
  padding: 35px;
  letter-spacing: 1px;
  line-height: 25px;
}

.header-content-right button {
  width: 320px;
  height: 70px;
  border-radius: 15px;
  background-color: #30C4AE;
  border: none;
}

.header-content-right button a {
  font-size: 30px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.arrow {
  font-size: 100px;
  margin-top: 240px;
  color: #30C4AE;
  cursor: pointer;
}

.arrow-left {
  float: left;
}

.arrow-right {
  float: right;
}

/*first section*/

section {
  width: 100%;
}

.first-section {
  height: 420px;
}

.three-box {
  width: 31%;
  display: inline-block;
  margin-top: 40px;
}

.image-chair {
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-chair-inside {
  width: 100%;
  height: 80px;
  background: #ffffff82;
  margin-top: 170px;
}

.image-chair-inside p {
  font-size: 20px;
  padding-top: 20px;
  margin-left: 20px;
  width: 180px;
  border-bottom: 8px solid #30C4AE;
}

.clair {
  background-image: url(../images/box1_img.jpg);
}

.margerita {
  background-image: url(../images/box2_img.jpg);
}

.text-aside-chair {
  border: 1px solid rgb(205, 214, 213);
  border-radius: 5px;
  height: 290px;
  padding: 25px;
}

.text-aside-chair h3 {
  border-bottom: 8px solid #30C4AE;
  margin-right: 80px;
  margin-bottom: 20px;
}

.text-aside-chair p {
  padding-bottom: 20px;
  line-height: 25px;
}

/*second section - general*/

.second-section {
  background-color: #f1f1f1;
  height: 875px;
}

section h2 {
  border-bottom: 8px solid #30C4AE;
  margin-right: 880px;
  padding-top: 60px;
  font-size: 26px;
  text-transform: uppercase;
}

/*second section - overlaps*/

.overlap-box {
  position: relative;
}

.double-circle-outside {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 85px;
  left: 50%;
  border: 2px solid #c2c2c1;
  background-color: white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.double-circle-inside {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 85px;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: #c2c2c1;
  border-radius: 50%;
}

.overlap {
  background-color: white;
  margin-top: 90px;
  width: 390px;
  height: 610px;
  border: 2px solid #c2c2c1;
  border-radius: 5px;
}

.overlap h4 {
  color: #30C4AE;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  margin-top: 40px;
}

.overlap .price {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #c2c2c1;
  margin: 25px auto 0 auto;
  color: #c2c2c1;
  position: relative;
}

.overlap .price div {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.overlap .price div p {
  display: block;
  text-align: center;
  position: relative;
}

.overlap .price div p span {
  font-size: 50px;
}

.overlap .price div p span:last-child {
  font-size: 18px;
  position: absolute;
}

.price div p:last-child {
  text-transform: uppercase;
  font-size: 20px;
}

.overlap .text-overlap {
  margin-top: 50px;
}

.overlap .text-overlap p {
  font-size: 30px;
  color: #c2c2c1;
  text-align: center;
  padding: 10px 0;
}

.overlap .text-overlap p:nth-child(2n) {
  background-color: rgb(224, 228, 225);
}

.overlap .text-overlap p:nth-child(2n+1) {
  background-color: #f1f1f1;
}

.overlap .button-container {
  width: 390px;
  text-align: center;
  position: absolute;
  bottom: 30px;
}

.overlap button {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  background-color: #30C4AE;
  border: none;
  font-size: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-top: 126px;
}

/*section form*/

section.form {
  width: 100%;
  height: 665px;
}

textarea {
  resize: none;
  width: 768px;
  height: 230px;
  border-radius: 5px;
  margin-top: 36px;
  padding-left: 20px;
  font-size: 36px;
  float: left;
}

input[type="text"], input[type="email"] {
  display: block;
  width: 768px;
  height: 80px;
  border-radius: 5px;
  margin-top: 36px;
  padding-left: 20px;
  font-size: 36px;
  float: left;
}

input[type="submit"] {
  float: right;
  display: block;
  width: 440px;
  height: 81px;
  border-radius: 10px;
  background-color: #30C4AE;
  border: none;
  font-size: 45px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-top: 170px;
  font-weight: 700;
}

.form .form-img {
  width: 295px;
  height: 255px;
  background-image: url(../images/red_chair.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 110px;
}

.ok-container {
  position: absolute;
  right: 384px;
  top: 300px;
  width: 56px;
  height: 56px;
  border: 2px solid #30C4AE;
  border-radius: 5px;
}

.form .ok {
  background-image: url(../images/form_ok.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
}

.form .ok-text {
  float: right;
  position: absolute;
  width: 365px;
  right: 0;
  font-size: 24px;
  top: 298px;
}

.form-right {
  position: relative;
}

/*footer*/

footer {
  width: 100%;
  height: 90px;
}

.copyright {
  color: #c2c2c1;
  float: left;
  line-height: 90px;
  font-size: 22px;
}

.footer-logo {
  text-transform: uppercase;
  float: right;
  line-height: 90px;
  font-size: 25px;
}

.links {
  height: 90px;
  float: right;
  align-items: center;
  margin-right: 65px;
  padding: 30px;
}

#flickr, #vimeo, #twitter, #pinterest {
  width: 45px;
  height: 45px;
  background-size: contain;
}

#flickr {
  background-image: url(../images/flickr.png);
}

#vimeo {
  background-image: url(../images/vimeo.png);
}

#twitter {
  background-image: url(../images/twitter.png);
}

#pinterest {
  background-image: url(../images/pinterest.png);
}
